@model IEnumerable<ZSHOE.Domain.Models.Entities.AboutInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.HasAccess("admin.aboutinfoes.create"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurVision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OurMission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="image-cell">
                    @if (!string.IsNullOrWhiteSpace(item.ImagePath))
                    {
                        <img src="~/uploads/images/@item.ImagePath" />
                    }
                </td>
                <td style="    white-space: unset;">
                    @Html.DisplayFor(modelItem => item.OurVision)
            </td>
                <td style="    white-space: unset;">
                    @Html.DisplayFor(modelItem => item.OurMission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedDate)
            </td>
            <td>
                    @if (User.HasAccess("admin.aboutinfoes.edit"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    @if (User.HasAccess("admin.aboutinfoes.details"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    @if (User.HasAccess("admin.aboutinfoes.delete"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>


@section addcss{
    <style>
        .image-cell {
            min-width: 100px;
            max-width: 120px;
        }

        .image-cell  img{
           width:100%;
        }
    </style>
}