<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZSHOE</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.css" />

    <link rel="stylesheet" href="https://kit.fontawesome.com/cf7085364a.css" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/black-tie/jquery-ui.min.css"
          integrity="sha512-+Z63RrG0zPf5kR9rHp9NlTMM29nxf02r1tkbfwTRGaHir2Bsh4u8A79PiUKkJq5V5QdugkL+KPfISvl67adC+Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/black-tie/theme.min.css"
          integrity="sha512-pRXxoDFasJ7vmpKnFluI1tFoIQvfjxvfYSxJY7/2li9EM0RY1NlibP6K3CvyzppFY90Co/HvkEGd1W17LbaiRw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("addcss",required:false)
</head>
<body>
    
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:+994 050 413 56 82"><i class="icon-phone"></i>Call: +994 050 413 56 82</a></li>
                                    <li><a asp-controller="shop" asp-action="wishlist"><i class="icon-heart-o"></i>Wishlist</a></li>
                                    <li><a asp-controller="home" asp-action="about">About Us</a></li>
                                    <li><a asp-controller="home" asp-action="contact">Contact Us</a></li>

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-controller="Home" asp-action="myaccount"><i class="icon-user"></i>@User.GetPrincipalName()</a></li>
                                      
                                    }
                                    else
                                    {
                                        <li><a asp-controller="account" asp-action="signin"><i class="icon-user"></i>Login</a></li>
                                    }

                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        <a asp-controller="home" asp-action="index" class="logo">
                            <img src="~/assets/images/zshoe.png" alt="zshoe Logo" width="120" height="25">

                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a asp-controller="home" asp-action="index">Home</a>


                                </li>
                                <li>
                                    <a asp-controller="shop" asp-action="index" class="sf-with-ul">Shop</a>

                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">

                                                        <div class="col-md-12">

                                                            <div class="menu-title">Shop Pages</div><!-- End .menu-title -->
                                                            <ul>
                                                                <li><a asp-controller="shop" asp-action="basket">Cart</a></li>
                                                                <li><a asp-controller="shop" asp-action="checkout">Checkout</a></li>
                                                                <li><a asp-controller="shop" asp-action="wishlist">Wishlist</a></li>
                                                                <li><a asp-controller="home" asp-action="MyAccount">My Account</a></li>
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a asp-controller="shop" asp-for="index" class="banner banner-menu">
                                                        <img src="~/assets/images/menu/banner-1.jpg" alt="Banner">

                                                        <div class="banner-content banner-content-top">
                                                            <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Pages</a>

                                    <ul>
                                        <li>
                                            <a asp-controller="home" asp-action="about">About</a>


                                        </li>
                                        <li>
                                            <a asp-controller="home" asp-action="contact">Contact</a>

                                        </li>
                                        <li><a asp-controller="account" asp-action="signin">Login</a></li>
                                        <li><a asp-controller="home" asp-action="faq">FAQs</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-controller="blog" asp-action="index">Blog</a>
                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <partial name="_SearchProducts" />
                     

                        <div class="dropdown cart-dropdown">
                            @await Component.InvokeAsync("BasketInfo")
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        @RenderBody()

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                     <partial name="_SubscribeForm" />
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="~/assets/images/zshoe.png" class="footer-logo" alt="zshoe Logo" width="120" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                                <!-- Subscribe Form -->
                                
                                <!-- Subscribe Form  End-->
                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->
                               
                                <ul class="widget-list">
                                    <li><a asp-controller="home" asp-action="about">About ZSHOE</a></li>
                                    <li><a href="#">How to shop on ZSHOE</a></li>
                                    <li><a asp-controller="home" asp-action="faq">FAQ</a></li>
                                    <li><a asp-controller="home" asp-action="contact">Contact us</a></li>
                                    <li><a asp-controller="account" asp-action="signin">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a asp-controller="account" asp-action="signin">Sign In</a></li>
                                    <li><a asp-controller="shop" asp-action="basket">View Cart</a></li>
                                    <li><a asp-controller="shop" asp-action="wishlist">My Wishlist</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="~/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer>
    </div>
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <div id="preloader"></div>
    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="shop" asp-for="index" class="sf-with-ul">Shop</a>
                        <ul>
                            <li><a asp-controller="shop" asp-action="basket">Cart</a></li>
                            <li><a asp-controller="shop" asp-action="checkout">Checkout</a></li>
                            <li><a asp-controller="shop" asp-action="wishlist">Wishlist</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="sf-with-ul">Pages</a>
                        <ul>
                            <li>
                                <a asp-controller="home" asp-action="about">About</a>
                            </li>
                            <li>
                                <a asp-controller="home" asp-action="contact">Contact</a>
                            </li>
                            <li><a asp-controller="account" asp-action="signin">Login</a></li>
                            <li><a asp-controller="home" asp-action="faq">FAQs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="blog" asp-action="index">Blog</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

 <!-- Sign in / Register Modal -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form method="post" id="loginModal">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="Username">
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="Password">
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice text-center">
                                        <a asp-controller="account" asp-action="register" class="text-center">Create an account</a>
                                      
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->


    <script src="https://kit.fontawesome.com/cf7085364a.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/superfish.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/wNumb.js"></script>
    <script src="~/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/nouislider.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.js"></script>
    <script src="~/assets/js/jquery.elevateZoom.min.js"></script>
    <!-- Jquery-cookie -->
    <script src="~/libs/jquery.cookie/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js%22%3E"></script>
    <!-- Main JS File -->
    <partial name="_BasketScriptsPartial" />
    <script src="~/assets/js/main.js"></script>
   <script class="removable">
        $(document).ready(function () {
            $("#newsletter-subscribe").submit(function (e) {
                e.preventDefault();

                let formData = new FormData(e.currentTarget);


                $.ajax({
                    url: '@Url.Action("Subscribe","Home")',
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {

                        if (response.error == false) {
                            toastr["success"](response.message, "Succes!")
                        }

                        if (response.error == true) {
                            toastr["error"](response.message, "Error!");
                        }

                        e.currentTarget.reset();
                    }
                });
            });
        });


    </script>
    <script class="removable">
        $(document).ready(function () {
            $.ajaxSetup({
                statusCode: {
                    401: function () {
                        $('#modalLoginForm').modal({
                            //backdrop: 'static',
                            keyboard: true
                        }).modal('show');
                    }
                }
            });

            $("#postComment").click(function () {
            })


            $('#loginModal').submit(function (e) {
                e.preventDefault();

                var formData = new FormData(e.currentTarget);

                $.ajax({
                    url: '@Url.Action("Signin", "Account", values: new{area=""})',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.error == false) {
                            $('#modalLoginForm').modal('hide');
                            toastr.success(response.message, "Uğur!");
                        }
                        else {
                            toastr.error(response.message, "Xəta");
                        }

                    }
                });
            });


        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
            integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("addjs",required:false)
</body>
</html>
