@model AboutViewModel
@{
    ViewData["Title"] = "About";
}

<main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="container">
        <div class="page-header page-header-big text-center" style="background-image: url('/uploads/images/@Model.AboutInfos?.ImagePath')">
           
        			<h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <h2 class="title">Our Vision</h2><!-- End .title -->
                    <p> @Html.Raw(Model.AboutInfos?.OurVision) </p>
                        </div><!-- End .col-lg-6 -->
                        
                        <div class="col-lg-6">
                            <h2 class="title">Our Mission</h2><!-- End .title -->
                    <p> @Html.Raw(Model.AboutInfos?.OurMission)</p>
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->

                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
            <div class="container">
                        <div class="row">
                            <div class="col-lg-5 mb-3 mb-lg-0">
                                <h2 class="title">Who We Are</h2><!-- End .title -->
                                <p class="lead text-primary mb-3">@Html.Raw(Model.AboutWhoWeAre?.Description)</p><!-- End .lead text-primary -->
                                <p class="mb-2">@Html.Raw(Model.AboutWhoWeAre?.Body)</p>

                                <a href="blog.html" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                                    <span>VIEW OUR NEWS</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-6 offset-lg-1">
                                <div class="about-images">
                                        <img src="~/uploads/images/@Model.AboutWhoWeAre.ImagePath" alt="" class="about-img-front">
                                </div><!-- End .about-images -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->

                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="brands-text">
                                 <h2 class="title">@Model.AboutBrands?.Description</h2>
                                 <p>@Model.AboutBrands?.Body</p>
                              
                            </div><!-- End .brands-text -->
                        </div><!-- End .col-lg-5 -->
                        <div class="col-lg-7">
                            <div class="brands-display">
                                <div class="row justify-content-center">
                                 @* @foreach(var item in Model.AboutBrandImages){
                                       <div class="col-6 col-sm-4">
                                           <a href="#" class="brand">
                                                <img src="~/uploads/images/@item.ImagePath" alt="Brand Name">
                                           </a>
                                       </div>
                                  }*@

                                </div><!-- End .row -->
                            </div><!-- End .brands-display -->
                        </div><!-- End .col-lg-7 -->
                    </div><!-- End .row -->

                    <hr class="mt-4 mb-6">

                    <h2 class="title text-center mb-4">Meet Our Team</h2><!-- End .title text-center mb-2 -->

                    <div class="row">
                        @foreach(var item in Model.AboutTeam){
                    <div class="col-md-4">
                        <div class="member member-anim text-center">
                            <figure class="member-media">
                                <img src="~/uploads/images/@item.ImagePath" alt="member photo">

                                <figcaption class="member-overlay">
                                    <div class="member-overlay-content">
                                        <h3 class="member-title">@item.Name<span>@item.Position</span></h3><!-- End .member-title -->
                                        <p>@Html.Raw(@item.Description)</p>
                                        <div class="social-icons social-icons-simple">
                                            <a href="@item.FacebookLink" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="@item.TwitterLink" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="@item.InstagramLink" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                        </div><!-- End .soial-icons -->
                                    </div><!-- End .member-overlay-content -->
                                </figcaption><!-- End .member-overlay -->
                            </figure><!-- End .member-media -->
                            <div class="member-content">
                                <h3 class="member-title">@item.Name<span>@item.Position</span></h3><!-- End .member-title -->
                            </div><!-- End .member-content -->
                        </div><!-- End .member -->
                    </div>

                    <!-- End .col-md-4 -->
                        }

                    </div><!-- End .row -->
                </div><!-- End .container -->

                <div class="mb-2"></div><!-- End .mb-2 -->

                <div class="about-testimonials bg-light-2 pt-6 pb-6">
                    <div class="container">
                        <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

                        <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
                             @foreach(var item in Model.AboutCustomers){
                            <blockquote class="testimonial text-center">
                                <img src="~/uploads/images/@item.ImagePath" alt="user">
                            <p>“@Html.Raw(@item.Description)”</p>
                                <cite>
                                    @item.Name
                                    <span>@item.Position</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->
                            }

                        </div><!-- End .testimonials-slider owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->