@model PagedViewModel<Product>



@foreach (var item in Model.Items)
{
    int intValue = Convert.ToInt32(item.Rate);
    var imagePath = item.ProductImages.FirstOrDefault()?.Name;

    <div class="col-6 col-md-4 col-lg-4">
        <div class="product product-7 text-center">
            <figure class="product-media">
               
                @if (item.CreatedDate > DateTime.Now.AddDays(-6))
                {
                    <span class="product-label label-new">New</span>
                }
                @if(intValue>1)
                {
                   
                    <span class="product-label label-top">Top</span>
                }
               
                <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">
                    <img src="~/uploads/images/@imagePath" alt="Product image" class="product-image">
                </a>

                <div class="product-action-vertical">
                    <a href="javascript:addToFavorites(@item.Id)" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                </div><!-- End .product-action-vertical -->

                <div class="product-action">
                    <a style="cursor:pointer" data-product-id="@item.Id" onclick="addToBasket(event)" class="btn-product btn-cart"><span>add to cart</span></a>
                </div><!-- End .product-action -->
            </figure><!-- End .product-media -->

            <div class="product-body">
                <div class="product-cat">
                    <a href="#">@item.Category.Name</a>
                </div><!-- End .product-cat -->
                <h3 class="product-title"><a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">@item.Name</a></h3><!-- End .product-title -->
                <div class="product-price">
                    $@item.Price
                </div><!-- End .product-price -->
                <div class="ratings-container">
                    <rate rate-value="@item.Rate" rate-product-id="@item.Id"></rate>
                </div><!-- End .rating-container -->

                <div class="product-nav product-nav-thumbs">
                    @*
                @for (int i = 1; i <= item.ProductImages.Select(pi => pi.IsMain == false).Count; i++)
                {
                var imagePathUp = item.ProductImages.Where(pi => pi.IsMain == false).ToArray();

                <a href="#" class="active">
                <img src="~/uploads/images/@imagePathUp[i]" alt="product desc">
                </a>

                }*@
                    @foreach (var itemImage in item.ProductImages.Where(pi => pi.IsMain == false))
                    {


                        <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id" class="active">
                            <img style="  width: 100%; height: 100%;" src="~/uploads/images/@itemImage.Name" alt="product desc">
                        </a>


                    }


                </div><!-- End .product-nav -->
            </div><!-- End .product-body -->
        </div><!-- End .product -->
    </div>

    <!-- End .col-sm-6 col-lg-4 -->
}

