@model ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
    var imagePath = Model.Product.ProductImages.FirstOrDefault()?.Name;
    var colorCode = Model.ProductCatalog.Color.HexCode;

}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Products</li>
            </ol>

        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="@Url.Content("~/uploads/images/" + imagePath)" data-zoom-image="@Url.Content("~/uploads/images/" + imagePath)" alt="product image">

                                    <a  id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    <a class="product-gallery-item active" data-image="@Url.Content("~/uploads/images/" + imagePath)" data-zoom-image="@Url.Content("~/uploads/images/" + imagePath)">
                                        <img src="@Url.Content("~/uploads/images/" + imagePath)" alt="product side">
                                    </a>
                                    @foreach (var itemImage in Model.Product.ProductImages.Where(pi => pi.IsMain == false))
                                    {
                                        <a class="product-gallery-item active" data-image="@Url.Content("~/uploads/images/" + itemImage.Name)" data-zoom-image="@Url.Content("~/uploads/images/" + itemImage.Name)">
                                            <img src="@Url.Content("~/uploads/images/" + itemImage.Name)" alt="product side">
                                        </a>



                                    }
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">@Model.Product.Name</h1><!-- End .product-title -->


                            <div class="ratings-container">
                                <rate rate-value="@Model.Product.Rate" rate-product-id="@Model.Product.Id"></rate>
                              
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                $@Model.Product.Price
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>@Html.Raw(Model.Product.ShortDescription)</p>
                            </div><!-- End .product-content -->

                            <div class="details-filter-row details-row-size">
                                <label>Color:</label>

                                <div class="product-nav product-nav-thumbs">
                                    <a  class="active">
                                        <div style="background-color:@colorCode;width: 100%;height: 100%;"></div>
                                    </a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->

                            <div class="details-filter-row details-row-size">
                                <label for="size">Size:</label>
                                <span>@Model.ProductCatalog.Size.Name</span>

                            </div><!-- End .details-filter-row -->


                            <div class="product-details-action">
                                <a style="cursor:pointer" data-product-id="@Model.Product.Id" onclick="addToBasket(event)" class="btn-product btn-cart"><span>add to cart</span></a>

                                <div class="details-action-wrapper">
                                    <a href="javascript:addToFavorites(@Model.Product.Id)" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                   
                                    <a href="#">@Model.Product.Category.Name</a>
                                
                                    
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            @Html.Raw(Model.Product.Description)
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                  
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->

            <h2 class="title text-center mb-4">Rated Products</h2><!-- End .title text-center -->
          
            @await Component.InvokeAsync("RatedProducts")
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
@section addjs{
    <script>

        $('.rate li').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            const data = $(e.currentTarget).data();

            console.log(data);

            $.ajax({
                url: '@Url.Action("SetProductRate")',
                type: 'POST',
                data: data,
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    location.reload()
                    console.log(response);
                },
                error: function (response) {
                    console.error(response);
                }
            });
        });


    </script>
}


    @section addcss{
    <style>
        .rate {
            display: flex;
        }

            .rate li {
                color: #f9ba48;
                margin-right: 1px;
                list-style: none;
                font-family: "Font Awesome 5 Free";
                cursor: pointer;
            }

                .rate li::before {
                    content: "\f005";
                    font-weight: 400;
                }

            .rate.rate-half1 li:nth-child(1)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-1 li:nth-child(1)::before,
            .rate.rate-half2 li:nth-child(1)::before,
            .rate.rate-3 li:nth-child(1)::before,
            .rate.rate-3 li:nth-child(2)::before,
            .rate.rate-half3 li:nth-child(1)::before,
            .rate.rate-half3 li:nth-child(2)::before,
            .rate.rate-half4 li:nth-child(1)::before,
            .rate.rate-half4 li:nth-child(2)::before,
            .rate.rate-half4 li:nth-child(3)::before,
            .rate.rate-4 li:nth-child(1)::before,
            .rate.rate-4 li:nth-child(2)::before,
            .rate.rate-4 li:nth-child(3)::before,
            .rate.rate-half5 li:nth-child(1)::before,
            .rate.rate-half5 li:nth-child(2)::before,
            .rate.rate-half5 li:nth-child(3)::before,
            .rate.rate-half5 li:nth-child(4)::before,
            .rate.rate-5 li:nth-child(1)::before,
            .rate.rate-5 li:nth-child(2)::before,
            .rate.rate-5 li:nth-child(3)::before,
            .rate.rate-5 li:nth-child(4)::before {
                content: "\f005";
                font-weight: 900;
            }

            .rate.rate-half2 li:nth-child(2)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-2 li:nth-child(1)::before,
            .rate.rate-2 li:nth-child(2)::before {
                content: "\f005";
                font-weight: 900;
            }

            .rate.rate-half3 li:nth-child(3)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-3 li:nth-child(3)::before {
                content: "\f005";
                font-weight: 900;
            }

            .rate.rate-half4 li:nth-child(4)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-4 li:nth-child(4)::before {
                content: "\f005";
                font-weight: 900;
            }

            .rate.rate-half5 li:nth-child(5)::before {
                content: "\f5c0";
                font-weight: 900;
            }

            .rate.rate-5 li:nth-child(5)::before {
                content: "\f005";
                font-weight: 900;
            }
    </style>
            }