@model IEnumerable<Product>
@{
  
    ViewData["Title"] = "Default";
}


<div class="owl-carousel owl-simple" data-toggle="owl"
     data-owl-options='{
                            "nav": false,
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true
                                }
                            }
                        }'>
    @foreach (var item in Model)
    {
        var imagePath = item.ProductImages.FirstOrDefault()?.Name;
       @* var imagePath2 = item.ProductImages.Where(pi => pi.IsMain == false);*@
        int intValue = Convert.ToInt32(item.Rate);

        <div class="product product-4">
            <figure class="product-media">
                @if (item.CreatedDate > DateTime.Now.AddDays(-6))
                {
                    <span class="product-label label-new">New</span>
                }
                @if (intValue > 1)
                {

                    <span class="product-label label-top">Top</span>
                }
                <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">
                    <img src="~/uploads/images/@imagePath" alt="Product image" class="product-image">
                    @foreach (var itemImage in item.ProductImages.Where(pi => pi.IsMain == false && pi.DeletedDate == null))
                    {
                        <img src="~/uploads/images/@itemImage.Name" alt="Product image" class="product-image-hover">
                    }
                </a>

                <div class="product-action-vertical">
                    <a href="javascript:addToFavorites(@item.Id)" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                </div><!-- End .product-action -->

                <div class="product-action">
                    <a style="cursor:pointer;"  data-product-id="@item.Id" onclick="addToBasket(event)" class="btn-product btn-cart"><span>add to cart</span></a>
                </div><!-- End .product-action -->
            </figure><!-- End .product-media -->

            <div class="product-body">
                <div class="product-cat">
                    <a>@item.Category.Name</a>
                </div><!-- End .product-cat -->
                <h3 class="product-title"><a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">@item.Name</a></h3><!-- End .product-title -->
                <div class="product-price">
                    $@item.Price
                </div><!-- End .product-price -->
                <div class="product-nav product-nav-dots">
                    @foreach (var color in item.ProductCatalog){
                        <a href="#" class="active" style="background:@color.Color.HexCode"><span class="sr-only">:@color.Color.Name</span></a>
                    }
                  
                </div><!-- End .product-nav -->
            </div><!-- End .product-body -->
        </div>

        <!-- End .product -->
    }

</div><!-- End .owl-carousel -->